[package]
name = "iso2wbfs"
version = "1.1.0"
edition = "2024"
authors = ["Manuel Quarneti <mq1@ik.me>"]
description = "A Rust utility to replicate wbfs_file 2.9 functionality for converting Wii disc images to split WBFS format."
license = "GPL-2.0-only"

[dependencies]
nod = "1.4"
clap = { version = "4.5", features = ["derive", "color"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
bitvec = "1.0"
thiserror = "2.0"
zerocopy = "0.8"
color-eyre = "0.6"

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "abort"

[workspace]
